<div>
  <h2 id="page-heading" data-cy="ClienteHeading">
    <span ccTranslate="crudclienteApp.cliente.home.title">Clientes</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info mr-2" (click)="loadPage()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span ccTranslate="crudclienteApp.cliente.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-cliente"
        [routerLink]="['/cliente/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span ccTranslate="crudclienteApp.cliente.home.createLabel"> Create a new Cliente </span>
      </button>
    </div>
  </h2>

  <cc-alert-error></cc-alert-error>

  <cc-alert></cc-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="clientes?.length === 0">
    <span ccTranslate="crudclienteApp.cliente.home.notFound">No clientes found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="clientes && clientes.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr ccSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
          <th scope="col" ccSortBy="id"><span ccTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" ccSortBy="cpf"><span ccTranslate="crudclienteApp.cliente.cpf">Cpf</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" ccSortBy="nome"><span ccTranslate="crudclienteApp.cliente.nome">Nome</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" ccSortBy="sobrenome">
            <span ccTranslate="crudclienteApp.cliente.sobrenome">Sobrenome</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" ccSortBy="dataNascimento">
            <span ccTranslate="crudclienteApp.cliente.dataNascimento">Data Nascimento</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" ccSortBy="telefone">
            <span ccTranslate="crudclienteApp.cliente.telefone">Telefone</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" ccSortBy="email">
            <span ccTranslate="crudclienteApp.cliente.email">Email</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" ccSortBy="sexo"><span ccTranslate="crudclienteApp.cliente.sexo">Sexo</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let cliente of clientes; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/cliente', cliente.id, 'view']">{{ cliente.id }}</a>
          </td>
          <td>{{ cliente.cpf }}</td>
          <td>{{ cliente.nome }}</td>
          <td>{{ cliente.sobrenome }}</td>
          <td>{{ cliente.dataNascimento | formatMediumDate }}</td>
          <td>{{ cliente.telefone }}</td>
          <td>{{ cliente.email }}</td>
          <td ccTranslate="{{ 'crudclienteApp.Sexo.' + cliente.sexo }}">{{ cliente.sexo }}</td>
          <td class="text-right">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/cliente', cliente.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" ccTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/cliente', cliente.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" ccTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(cliente)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" ccTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="clientes && clientes.length > 0">
    <div class="row justify-content-center">
      <cc-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></cc-item-count>
    </div>

    <div class="row justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [(page)]="ngbPaginationPage"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="loadPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
