<div>
  <h2 id="page-heading" data-cy="ClienteHeading">
    <span ccTranslate="crudclienteApp.cliente.home.title">Clientes</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info mr-2" (click)="loadPage()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span ccTranslate="crudclienteApp.cliente.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-cliente"
        [routerLink]="['/cliente/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span ccTranslate="crudclienteApp.cliente.home.createLabel"> Create a new Cliente </span>
      </button>
    </div>
  </h2>

  <cc-alert-error></cc-alert-error>

  <cc-alert></cc-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="clientes?.length === 0">
    <span ccTranslate="crudclienteApp.cliente.home.notFound">No clientes found</span>
  </div>

  <div class="d-flex">
    <div class="form-group mx-1">
      <label class="form-control-label" ccTranslate="crudclienteApp.cliente.cpf" for="field_cpf">Cpf</label>
      <input
        [(ngModel)]="filtroPesquisa.cpf"
        type="text"
        class="form-control"
        name="cpf"
        id="field_cpf"
        data-cy="cpf"
        mask="000.000.000-99"
      />
    </div>
    <div class="form-group mx-1">
      <label class="form-control-label" ccTranslate="crudclienteApp.cliente.nome" for="field_nome">Nome</label>
      <input [(ngModel)]="filtroPesquisa.nome" type="text" class="form-control" name="nome" id="field_nome" data-cy="nome" />
    </div>
    <div class="form-group mx-1">
      <label class="form-control-label" ccTranslate="crudclienteApp.cliente.sobrenome" for="field_sobrenome">Sobrenome</label>
      <input
        [(ngModel)]="filtroPesquisa.sobrenome"
        type="text"
        class="form-control"
        name="sobrenome"
        id="field_sobrenome"
        data-cy="sobrenome"
      />
    </div>
    <div class="form-group mx-1">
      <label class="form-control-label" ccTranslate="crudclienteApp.cliente.dataNascimento" for="field_dataNascimento"
        >Data Nascimento</label
      >
      <div class="input-group">
        <input
          [(ngModel)]="filtroPesquisa.dataNascimento"
          id="field_dataNascimento"
          data-cy="dataNascimento"
          type="text"
          class="form-control"
          name="dataNascimento"
          ngbDatepicker
          #dataNascimentoDp="ngbDatepicker"
        />
        <span class="input-group-append">
          <button type="button" class="btn btn-secondary" (click)="dataNascimentoDp.toggle()">
            <fa-icon icon="calendar-alt"></fa-icon>
          </button>
        </span>
      </div>
    </div>
    <div class="form-group mx-1">
      <label class="form-control-label" ccTranslate="crudclienteApp.cliente.telefone" for="field_telefone">Telefone</label>
      <input
        [(ngModel)]="filtroPesquisa.telefone"
        type="text"
        class="form-control"
        name="telefone"
        id="field_telefone"
        data-cy="telefone"
        mask="(00) 00000-0000"
      />
    </div>
    <div class="form-group mx-1">
      <label class="form-control-label" ccTranslate="crudclienteApp.cliente.email" for="field_email">Email</label>
      <input [(ngModel)]="filtroPesquisa.email" type="text" class="form-control" name="email" id="field_email" data-cy="email" />
    </div>
    <div class="form-group">
      <label class="form-control-label" ccTranslate="crudclienteApp.cliente.sexo" for="field_sexo">Sexo</label>
      <select [(ngModel)]="filtroPesquisa.sexo" class="form-control" name="sexo" id="field_sexo" data-cy="sexo">
        <option [ngValue]="null">{{ 'crudclienteApp.Sexo.null' | translate }}</option>
        <option value="MASCULINO">{{ 'crudclienteApp.Sexo.MASCULINO' | translate }}</option>
        <option value="FEMININO">{{ 'crudclienteApp.Sexo.FEMININO' | translate }}</option>
      </select>
    </div>
  </div>

  <div class="table-responsive" id="entities" *ngIf="clientes && clientes.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr ccSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
          <th scope="col" ccSortBy="id">
            <span ccTranslate="global.field.id">ID</span>
            <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" ccSortBy="cpf">
            <span ccTranslate="crudclienteApp.cliente.cpf">Cpf</span>
            <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" ccSortBy="nome">
            <span ccTranslate="crudclienteApp.cliente.nome">Nome</span>
            <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" ccSortBy="sobrenome">
            <span ccTranslate="crudclienteApp.cliente.sobrenome">Sobrenome</span>
            <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" ccSortBy="dataNascimento">
            <span ccTranslate="crudclienteApp.cliente.dataNascimento">Data Nascimento</span>
            <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col">
            <span ccTranslate="crudclienteApp.cliente.idade">Idade</span>
          </th>
          <th scope="col" ccSortBy="telefone">
            <span ccTranslate="crudclienteApp.cliente.telefone">Telefone</span>
            <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" ccSortBy="email">
            <span ccTranslate="crudclienteApp.cliente.email">Email</span>
            <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" ccSortBy="sexo">
            <span ccTranslate="crudclienteApp.cliente.sexo">Sexo</span>
            <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let cliente of clientes; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/cliente', cliente.id, 'view']">{{ cliente.id }}</a>
          </td>
          <td>{{ cliente.cpf | mask: '000.000.000-99' }}</td>
          <td>{{ cliente.nome }}</td>
          <td>{{ cliente.sobrenome }}</td>
          <td>{{ cliente.dataNascimento | formatMediumDate }}</td>
          <td>{{ cliente.idade }}</td>
          <td>{{ cliente.telefone | mask: '(00) 00000-0000' }}</td>
          <td>{{ cliente.email }}</td>
          <td ccTranslate="{{ 'crudclienteApp.Sexo.' + cliente.sexo }}">{{ cliente.sexo }}</td>
          <td class="text-right">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/cliente', cliente.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" ccTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/cliente', cliente.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" ccTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(cliente)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" ccTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="clientes && clientes.length > 0">
    <div class="row justify-content-center">
      <cc-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></cc-item-count>
    </div>

    <div class="row justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [(page)]="ngbPaginationPage"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="loadPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
