<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="endEstado">
      <h2 data-cy="endEstadoDetailsHeading"><span ccTranslate="crudclienteApp.endEstado.detail.title">End Estado</span></h2>

      <hr />

      <cc-alert-error></cc-alert-error>

      <cc-alert></cc-alert>

      <dl class="row-md jh-entity-details">
        <dt><span ccTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ endEstado.id }}</span>
        </dd>
        <dt><span ccTranslate="crudclienteApp.endEstado.uf">Uf</span></dt>
        <dd>
          <span>{{ endEstado.uf }}</span>
        </dd>
        <dt><span ccTranslate="crudclienteApp.endEstado.descricao">Descricao</span></dt>
        <dd>
          <span>{{ endEstado.descricao }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span ccTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/end-estado', endEstado.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span ccTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
